{% extends "base.html" %}

{# Main Content #}

{% block content %}

<header><h1>About US</h1></header>

<article>
	<header><h2>The Sons of Bhaal - Aggramar EU</h2></header>
	<p>We are a world of warcraft guild formed on 24th May 2005. We have been many things in our time from Hardcore raid guild to very casual, we are now somewhere between the two.  We are currently progressing through the Wrath of the Lich King expansion, most of our members have now reached lvl80 and we are settling in to raiding again.</p>
	<p>We are concentrating on 10 man Raid content and are steadily progressing through it, we still do alot of heroics as there are still alot of upgrades and fun to be had here.</p>  
	<p>We aim to raid 2-3 times a week but we are a casual guild so its not always possible, if we have less than 10 people on we are always happy to run heroics..</p>
</article>  

{% endblock %} 

{# Side Content #}	

{% block side %}

<header><h4 align="center">Recruitment</h4></header>

<article>
	<p>Currently recruitment is open and anyone is welcome to join us for a trial.</p>
	<p>We are looking for like minded mature players who want to see all of the content but are not too worried about how quickly you see it we move at our own pace but we are progressing.  We are aiming to raid more often now we are all 80 but there is more to the game than just raiding.</p>  
	<p>We don't expect you to have the best gear when you join and we will help you but we do expect you to put in the work too.</p> 
	<p><strong>We are not a boosting service</strong></p> 
	<p>We are mostly concentrating on lvl80 content now, lower lvl's are welcome to join us and we all play alts from time to time and enjoy the old content but don't expect to boost you in instances.</p>
</article>

{% endblock %}

{# Footer #}

{% block footer %}
<h6>Sons of Bhaal Guild Aggramar EU 2009</h6>
{% endblock %} 