{% extends "base.html" %}

{# Main #}

{% block content %}

<header><h1>Bhaal News</h1></header>
	
<article>
	<header><h2>20/12/2009 - When your on a roll! </h2></header>
	<p>So when you have the group and everything seems to just go smooth what do you do?</p>
	<p>Well if your the Sons of Bhaal you try some new content and how!  Our first proper try at ToC as a guild and we down the first three bosses, we had a few wipes while learning the fights but we did it Gratz guys!</p>
	<p>
	Champions Cache: <a class="deathknight">Lugz</a> - <a href="http://www.wowhead.com/?item=47727" class="whepic">[Fervor of the Frostborn]</a>
	<br />
	Champions Cache: <a class="warlock">Lileth</a> - <a href="http://www.wowhead.com/?item=47721" class="whepic">[Sandals of the Silver Magus]</a>
	<br />
	Lord Jaraxxus: <a class="rogue">Schambles</a> - <a href="http://www.wowhead.com/?item=47703" class="whepic">[Planestalker Signet]</a>
	</p>

	<header><h2>20/12/2009 - Ignis Downed Finally</h2></header>
	<p>Ignis has caused us a few problems in the past but hes no more! So not having tried to kill him in a while and because its the weekly raid quest we go in and oneshot him with only 3 dead. Nice work guys i knew you could do it.</p>
	<p><img src="static/Assets/ignis.png" alt="Ignis" /></p>
	<p>In addition to the Kill that also gives us a guild achievement sweet!!</p>
	<p><img src="static/Assets/achievements/siege_ulduar.jpg" alt="Twilight Assist" /></p>
	
	<header><h2>02/09/2009 - Guild First Ulduar</h2></header>
	<p>So last night, in a change to the advertised raid, we decided to have a crack in ulduar.  Our first time in as a guild and we downed 3 bosses.  Previously unseen by the majority of the raid it is an awesome acheivement so well done guys!</p>
	<p><img src="static/Assets/razorscale.jpg" alt="Razorscale" /><br /></p>
	<p>
	XT-002 Deconstructor: <a class="warlock">Lileth</a> - <a href="http://www.wowhead.com/?item=45685" class="whepic">[Plasma Foil]</a> + <a class="druid">Vangelis</a> - <a href="http://www.wowhead.com/?item=45675" class="whepic">[Power Enhancing Loop]</a>
	<br />
	Razorscale: <a class="rogue">Schambles</a> - <a href="http://www.wowhead.com/?item=45298" class="whepic">[Razorscale Talon]</a> + <a class="shaman">Shamurai</a> - <a href="http://www.wowhead.com/?item=45307" class="whepic">[Ironscale Leggings]</a>
	<br />
	Flame Leviathan: <a class="priest">Missconduct</a> - <a href="http://www.wowhead.com/?item=45291" class="whepic">[Combustion Bracers]</a> + <a class="shaman">Shamurai</a> - <a href="http://www.wowhead.com/?item=39425" class="whepic">[Kinetic Ripper]</a>
	</p>

	<header><h2>26/08/2009 - OS 10man +1 Drake</h2></header>
	<p>Another guild first we went in  to obsidium sanctum with the intention or killing sartharion and tenebron together and on our 3rd try we did it!  Nice work!</p>
	<img src="static/Assets/achievements/twilight_assist.jpg" alt="Twilight Assist" />
	
	<header><h2>07/07/2009 - Guild First Kel'Thuzad Kill</h2></header>
	<p>Our firt kill on Kel'Thuzad and our first full clear of Naxxramas - very nice work guys.</p>

	<header><h2>05/07/2009 - Saphiron's Denmise</h2></header>
	<p>Our first Sapphiron kill and picked up the key for Malygos.</p>
     
	<header><h2>01/07/2009 - Naxx 8 bosses in 3hrs</h2></header>
	<p>one shoted all 8 bosses and a first attempt on Loatheb results in a kill and no wipes</p>

	<header><h2>29/06/2009 - Grobbulas and Four Horseman</h2></header>
	<p>Downed more bosses and trialed a new loot distribution mod last night which went well we will be using EPGP for all guild raids from now on.</p>
</article>
 
{% endblock %}

{# Side #}

{% block side %}
	<img src="static/Assets/banrRgt.png" class="img-rounded" />
{% endblock %}

{# Footer #}

{% block footer %}
	<h6>Sons of Bhaal Guild Aggramar EU 2009</h6>
{% endblock %} 