{% extends "base.html" %}

{# Main #}

{% block content %}

<header><h1>Hall of Conquest</h1></header>
<article>
    <header><h2>Naxxramas</h2></header>
    <table class="table">
        <tr>
            <td>Date</td>
            <td>Boss</td>
            <td>Status of Boss</td>
        </tr>
        <tr>
            <td>07/07/2009</td>
            <td>Kel'Thuzad</td>
            <td>Killed 3 Attempts</td>
        </tr>
        <tr>
            <td>05/07/2009</td>
            <td>Sapphiron</td>
            <td>Killed 1st Attempt.</td>
        </tr>
        <tr>
            <td>01/07/2009</td>
            <td>Plague Quarter</td>
            <td>Completed</td>
        </tr>
        <tr>
            <td>30/06/2009</td>
            <td>Construct Quarter</td>
            <td>Completed</td>
        </tr>
        <tr>
            <td>10/05/2009</td>
            <td>Military Quarter</td>
            <td>Completed</td>
        </tr>
        <tr>
            <td>06/05/2009</td>
            <td>Arachnid Quarter</td>
            <td>Completed</td>
        </tr>
    </table>

    <header><h2>Achievments</h2></header>
    <p><img src="static/Assets/achievements/fall_of_naxxramas.jpg" alt="The Fall of Naxxramas" /></p>
    <p><img src="static/Assets/achievements/kel_thuzad.jpg" alt="Kel'Thuzad's Defeat" /></p>
    <p><img src="static/Assets/achievements/sapphiron.jpg" alt="Sapphiron's Demise" /></p>
 </article>

{% endblock %} 

{# Side #}

{% block side %}
    <img src="static/Assets/banrRgt.png" class="img-rounded"/>
{% endblock %}

{# Footer #}

{% block footer %}
    <h6>Sons of Bhaal Guild Aggramar EU 2009</h6>
{% endblock %} 