<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    
    <head>
        <title>Bhaal Space</title>
        <link href="static/css/bhaal.css" rel="stylesheet" type="text/css">
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <script src="http://static.wowhead.com/widgets/power.js"></script>
    </head>
    
    <body>
        <table width="982" border="0" align="center" cellpadding="0" cellspacing="0" height="1024" class="opaque">
            <tr height="285">
                <th colspan="5" align="center" height="290"><img src="static/Assets/new_title.png" /></th>
            </tr>
     
            <td width="144" valign="top" height="732">

<!--links  -->  
  
                <table width="140" border="0" cellspacing="2" cellpadding="0" class="sidebar">
                    <tr valign="top">
                        <td colspan="2" class="sidebar">Sons of Bhaal</td>
                    </tr>
                    
                    <tr>
                        <td width="12" align="left"><img src="static/Assets/invis.gif" width="7" height="2" /></td>
                        <td width="118" align="left"><img src="static/Assets/invis.gif" width="10" height="2" /></td>
                    </tr>
                    
                    <tr>
                        <td align="center"><img src="static/Assets/bulletpoint1.png" name="Dots_Grey" width="7" height="10" id="Dots_Grey" /></td>
                        <td align="left"><a href="/" class="whitetext_small">Home</a></td>
                    </tr>
                      
                    <tr>
                        <td align="center"><img src="static/Assets/bulletpoint1.png" name="Dots_Grey" width="7" height="10" id="Dots_Grey" /></td>
                        <td align="left"><a href="about_us" class="whitetext_small">About Us</a></td>
                    </tr>
                      
                    <tr>
                        <td align="center"><img src="static/Assets/bulletpoint1.png" name="Dots_Grey" width="7" height="10" id="Dots_Grey" /></td>
                        <td align="left"><a href="raid_info" class="whitetext_small">Raid Info</a></td>
                    </tr>
              
                    <tr>
                        <td align="center"><img src="static/Assets/bulletpoint1.png" name="Dots_Grey" width="7" height="10" id="Dots_Grey" /></td>
                        <td align="left"><a href="raid_progress" class="whitetext_small">Raid Progress</a></td>
                    </tr>
                      
                    <tr>
                        <td align="center"><img src="static/Assets/bulletpoint1.png" name="Dots_Grey" width="7" height="10" id="Dots_Grey" /></td>
                        <td align="left"><a href="http://eu.wowarmory.com/guild-info.xml?r=Aggramar&n=Sons+Of+Bhaal&p=1" class="whitetext_small">Guild Armoury Page</a></td>
                    </tr>
              
                    <tr>
                        <td align="center"><img src="static/Assets/bulletpoint1.png" name="Dots_Grey" width="7" height="10" id="Dots_Grey" /></td>
                        <td align="left"><a href="http://z3.invisionfree.com/Witherd_Monkeys_Claw/index.php?" class="whitetext_small">Forum</a></td>
                    </tr>
                           
                    <tr>
                        <td align="center"><img src="static/Assets/bulletpoint1.png" name="Dots_Grey" width="7" height="10" id="Dots_Grey" /></td>
                        <td align="left"><a href="epgp" class="whitetext_small">Epgp</a></td>
                    </tr>
                           
                    <tr>
                        <td align="center"><img src="static/Assets/bulletpoint1.png" name="Dots_Grey" width="7" height="10" id="Dots_Grey" /></td>
                        <td align="left"><a href="http://www.epgpweb.com/guild/eu/Aggramar/Sons%20Of%20Bhaal/" class="whitetext_small">EpgpWeb Standings</a></td>
                    </tr>
                           
                    <tr>
                        <td align="center"><img src="static/Assets/invis.gif" width="7" height="20" /></td>
                        <td align="left">&nbsp;</td>
                    </tr>  
                        
                    <tr>
                        <td colspan="2" align="left" class="sidebar">Official Blizzard Links</td>
                    </tr>

                    <tr>
                        <td align="left"><img src="static/Assets/invis.gif" width="7" height="2" /></td>
                        <td align="left"><img src="static/Assets/invis.gif" width="10" height="2" /></td>
                    </tr>

                    <tr>
                        <td align="center"><img src="static/Assets/bulletpoint1.png" name="Dots_Grey" width="7" height="10" id="Dots_Grey" /></td>
                        <td align="left"><a href="http://www.wow-europe.com/en/index.xml" class="whitetext_small">Official Wow Europe</a></td>
                    </tr>

                    <tr>
                        <td align="center"><img src="static/Assets/bulletpoint1.png" name="Dots_Grey" width="7" height="10" id="Dots_Grey" /></td>
                        <td align="left" class="whitetext"><a href="http://eu.wowarmory.com/" class="whitetext_small">Wow Armoury</a></td>
                    </tr>

                    <tr>
                        <td align="center"><img src="static/Assets/bulletpoint1.png" name="Dots_Grey" width="7" height="10" id="Dots_Grey" /></td>
                        <td align="left"><a href="http://www.wow-europe.com/en/serverstatus/index.html" class="whitetext_small">Realm Status</a></td>
                    </tr>
                          
                    <tr>
                        <td align="center"><img src="static/Assets/invis.gif" width="7" height="20" /></td>
                        <td align="left">&nbsp;</td>
                    </tr>
                         
                    <tr>
                        <td colspan="2" align="left" class="sidebar">Addons &amp; Wiki's</td>
                    </tr>
                    
                    <tr>
                        <td align="left"><img src="static/Assets/invis.gif" width="7" height="2" /></td>
                    <td align="left"><img src="static/Assets/invis.gif" width="10" height="2" /></td>
                    
                    </tr>
                    
                    <tr>
                        <td align="center"><img src="static/Assets/bulletpoint1.png" name="Dots_Grey" width="7" height="10" id="Dots_Grey" /></td>
                        <td align="left"><a href="http://www.wowwiki.com/Main_Page" class="whitetext_small">WoWWiki</a></td>
                    </tr>
                    
                    <tr>
                        <td align="center"><img src="static/Assets/bulletpoint1.png" name="Dots_Grey" width="7" height="10" id="Dots_Grey" /></td>
                        <td align="left"><a href="http://thottbot.com/" target="_blank" class="whitetext_small">Thottbot</a></td>
                    </tr>
                    
                    <tr>
                        <td align="center"><img src="static/Assets/bulletpoint1.png" name="Dots_Grey" width="7" height="10" id="Dots_Grey" /></td>
                        <td align="left"><a href="http://www.curse.com/" target="_blank" class="whitetext_small">Curse Gaming</a></td>
                    </tr>
                    
                    <tr>
                        <td align="center"><img src="static/Assets/bulletpoint1.png" name="Dots_Grey" width="7" height="10" id="Dots_Grey" /></td>
                        <td align="left"><a href="http://www.wowhead.com/" target="_blank" class="whitetext_small">Wowhead</a></td>
                    </tr>
                    
                    <tr>
                        <td align="center">&nbsp;</td>
                        <td align="left">&nbsp;</td>
                    </tr>
            
                </table>
            
            </td>

<!--end of links   -->  

            <td width="15">&nbsp;</td>
                <td width="606 " valign="top" class="text">
                {% block content %}{% endblock %}   
                </td>
                <td width="15">&nbsp;</td>
                <td width="202" valign="top">
                <img src="static/Assets/banrRgt.png" />
                </td>
                }
            </tr>
            
            <tr>
            </tr>

        </table>

    </body>

</html>
