{% extends "base.html" %}

{# Main #}

{% block content %}

<header><h1>Raid Progress</h1></header>

<article>
	<p>Its worth pointing out that we are a casual guild and that raiding isn't our main focus. Our raid progress is noted for guild only raids. Many of our members have progressed much further than this in Pickup groups.<br /><br />
	As a guild we concentrate on 10man content and have so far cleared naxxramas, obsidian sanctum (both normal and with 1 drake up) and are now starting on ulduar.  Where we have cleared 3 bosses all on our first guild visit.<br /><br />
	If you'd like to see specific information about our progress please visit the links below.<br /><br />
	<ul>
		<li><a href="ulduar" >Ulduar Raid Progress</a></li>
	    <li><a href="naxxramas" >Naxxramas Raid Progress</a></li>
	    <li><a href="sartharion" >Obsidian Sanctum Raid Progress</a></li>
	</ul></p>

	<header><h2>Next on the List - Twins</h2></header>
	<p>Please watch this and make sure you know the tactics and abilities its a technical fight so pay attention :) </p>
	<p><object width="560" height="340"><param name="movie" value="http://www.youtube.com/v/ZEniPXvAXNk&hl=en_GB&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/ZEniPXvAXNk&hl=en_GB&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="560" height="340"></embed></object></p>
	<p>Also on the Cards - Anub'arak</p> 
	<p><object width="560" height="340"><param name="movie" value="http://www.youtube.com/v/2jmIaHInTr4&hl=en_GB&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/2jmIaHInTr4&hl=en_GB&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="560" height="340"></embed></object></p>
</article>

{% endblock %}

{# Side #}

{% block side %}
	<img src="static/Assets/banrRgt.png" class="img-rounded"/>
{% endblock %}

{# Footer #}

{% block footer %}
	<h6>Sons of Bhaal Guild Aggramar EU 2009</h6>
{% endblock %} 