{% extends "base.html" %}

{# Main #}

{% block content %}

<header><h1>Raid Format</h1></header>

<article>
    <header><h2>Agreed Raid Mains</h2></header>
    <p>Raid group configuration.</p>
    <header><h3>Raidcore</h3></header>
    <p>Core Raiders Group.</p>
    <table align="center" class="table">
    	<tr>
        	<th width="160">Character</th>
        	<th width="160">Class</th>
            <th width="160">Role</th>
        </tr>
        <tr>
        	<td class="paladin">Page</td>
        	<td>Paladin</td>
            <td>Tank</td>
        </tr>
        <tr>
        	<td class="shaman">Shamurai</td>
        	<td>Shaman</td>
            <td>Healer</td>
        </tr>
        <tr>
        	<td class="druid">Dreamar</td>
        	<td>Druid</td>
            <td>Healer</td>
        </tr>
        <tr>
        	<td class="shaman">Zantry</td>
        	<td>Shaman</td>
            <td>Ranged DPS</td>
        </tr>
        <tr>
        	<td class="rogue">Schambles</td>
        	<td>Rogue</td>
            <td>Melee DPS</td>
        </tr>
        <tr>
        	<td class="hunter">Coj</td>
        	<td>Hunter</td>
            <td>Ranged DPS</td>
        </tr>
        <tr>
        	<td class="warlock">Lileth</td>
        	<td>Warlock</td>
            <td>Ranged DPS</td>
        </tr>
    </table>

    <header><h3>Raiders</h3></header>
    <p>Casual Raid Group.</p>
        <table align="center" class="table">
        	<tr>
            	<th width="160">Character</th>
            	<th width="160">Class</th>
                <th width="160">Role</th>
            </tr>
            <tr>
            	<td class="priest">Deathsrose</td>
            	<td>Priest</td>
                <td>Healer</td>
            </tr>
            <tr>
            	<td class="paladin">Fridge</td>
            	<td>Paladin</td>
                <td>Healer</td>
            </tr>
            <tr>
            	<td class="priest">Missconduct</td>
            	<td>Priest</td>
                <td>Ranged DPS</td>
            </tr>
            <tr>
            	<td class="shaman">Gareltini</td>
            	<td>Hunter</td>
                <td>Ranged DPS</td>
            </tr>
            <tr>
            	<td class="hunter">Lludd</td>
            	<td>Hunter</td>
                <td>Ranged DPS</td>
            </tr>
            <tr>
            	<td class="paladin">Sulrathon</td>
            	<td>Mage</td>
                <td>Ranged DPS</td>
            </tr>
        </table>
</article>
    
{% endblock %} 

{# Side #}

{% block side %}
    <img src="static/Assets/banrRgt.png" class="img-rounded" />
{% endblock %}

{# Footer #}

{% block footer %}
    <h6>Sons of Bhaal Guild Aggramar EU 2009</h6>
{% endblock %} 