{% extends "base.html" %}

{# Main #}

{% block content %}
 
<header><h1>Raid Info</h1></header>

<atricle>
	<header><h2>Guild Rules - Raid and Dungeon Nights</h2></header>
	<p>We have very few rules but if it is a guild organised event then the following is required. It is non negotiable if you want to come.</p> 
	<ul>
		<li>You must have <a href="http://www.ventrilo.com/"><strong>Ventrillo</strong></a> installed.  It would be nice if you could talk to us but it is not required, we only ask that you can hear instructions. a wipe because someone didn't hear what was going on puts everyone in a bad mood.</li>
		<br />
		<li>You must install <a href="http://wow.curse.com/downloads/wow-addons/details/omen-threat-meter.aspx"><strong>Omen</strong></a>, although its now built into the blizzard UI we would prefere that everyone can see where exactly they are on threat.</li>
		<br />
		<li>Come prepared to Raid you need to have all your items enchanted, gemmed and have sufficient pots specific to your class. If you have trouble getting your gear ready or need help with pots then please ask us and we'll help you out.</li>
		<br />
		<li>Loot Rules - We use epgp as a tool to aid in loot distribution so if you want to win items in our Raids then you should install <a href=""><strong>epgp lootmaster</strong></a> you don't need to do anything to configure it just have it installed and enabled for you raiding charcter. </li>
		<br />
		<li>If we have too many for a raid and have to choose who we take it will be based on experience, raid composition, and who has made the most effort to have there gear fully enchanted, gemmed etc. If you don't get in on a raid don't take it personally go work on your gear, do a heroic and you'll probably be chosen next time. We want to be fair and give everyone a chance to go but we also want to clear bosses and that requires a certain level of skill and gear.</li>
	</ul>
	<p>Be mature, respect your fellow team mates and listen to instructions and above all enjoy yourselves this is supposed to be a game after all! its all we can ask.</p>
</atricle>

{% endblock %}

{# Side #}

{% block side %}
	<img src="static/Assets/banrRgt.png" class="img-rounded"/>
{% endblock %}

{# Footer #}

{% block footer %}
	<h6>Sons of Bhaal Guild Aggramar EU 2009</h6>
{% endblock %} 