{% extends "base.html" %}

{# Main #}

{% block content %}

<header><h1>Hall of Conquest</h1></header>

<article>
    <header><h2>Obsidian Sanctum</h2></header>
    <table class="table">
        <tr>
            <td>Date</td>
            <td>Boss</td>
            <td>Status of Boss</td>
        </tr>
        <tr>
            <td>26/08/2009</td>
            <td>Sartahrion +1</td>
            <td>with Tenebron as well</td>
        </tr>
        <tr>
            <td>08/02/2009</td>
            <td>Sartharion</td>
            <td>Cleared drakes first.</td>
        </tr>
    </table>

    <header><h4>Achievments</h4></header>
    <p><img src="static/Assets/achievements/twilight_assist.jpg" alt="Nerf Gravity Bombs" /></p>
    <p><img src="static/Assets/achievements/besting_the_black_dragonflight.jpg" alt="Nerf Gravity Bombs" /></p>
</article>

{% endblock %}

{# Side #}

{% block side %}
    <img src="static/Assets/banrRgt.png" class="img-rounded"/>
{% endblock %}

{# Footer #}

{% block footer %}
    <h6>Sons of Bhaal Guild Aggramar EU 2009</h6>
{% endblock %} 