{% extends "base.html" %}

{# Main #}

{% block content %}

<header><h1>Hall of Conquest</h1></header>
<article>
    <header><h2>Ulduar</h2></header>
    <table class="table">
    <tr>
        <td>Date</td>
        <td>Boss</td>
        <td>Status of Boss</td>
    </tr>
    <tr>
        <td>02/09/2009</td>
        <td>Flame Leviathon</td>
        <td>Killed on first attempt.</td>
    </tr>
    <tr>
        <td>02/09/2009</td>
        <td>Razorscale</td>
        <td>Killed after 1 wipe on first visit.</td>
    </tr>
    <tr>
        <td>02/09/2009</td>
        <td>XT-002 Deconstructor</td>
        <td>Killed on first attempt</td>
    </tr>
    <tr>
        <td>20/12/2009</td>
        <td>Ignis the Furnace Master</td>
        <td>Killed after many attempts</td>
    </tr>
    <tr>
        <td>04/11/2009</td>
        <td>Kologarn</td>
        <td>Killed on first attempt</td>
    </tr>
    </table>

    <header><h2>Achievments</h2></header>
    <p><img src="static/Assets/achievements/siege_ulduar.jpg" alt="Nerf Gravity Bombs" /></p>
    <p><img src="static/Assets/achievements/shoutout.jpg" alt="Shoutout" /></p>
    <p><img src="static/Assets/achievements/nerf_gravity_bombs.jpg" alt="Nerf Gravity Bombs" /></p>
</article>

{% endblock %}

{# Side #}

{% block side %}
    <img src="static/Assets/banrRgt.png" class="img-rounded"/>
{% endblock %}

{# Footer #}

{% block footer %}
    <h6>Sons of Bhaal Guild Aggramar EU 2009</h6>
{% endblock %} 